<div class="page-sidebar-fixed">
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li class="start" data-title="users">
            <a href="/users/queryAll">
                <i class="icon-home"></i><span class="title">通讯录</span><span class="selected"></span>
            </a>
        </li>
        <li class="start" data-title="item">
            <a href="/item/queryAll">
                <i class="icon-briefcase"></i><span class="title">储物盒</span><span class="selected"></span>
            </a>
        </li>
        <li class="start" data-title="room">
            <a href="/room">
                <i class="icon-briefcase"></i><span class="title">拖动房间号</span><span class="selected"></span>
            </a>
        </li>
        <li class="start" data-title="choosetime">
            <a href="/choosetime">
                <i class="icon-briefcase"></i><span class="title">时间选择</span><span class="selected"></span>
            </a>
        </li>
    </ul>
</div>
</div>
