<div class="page-header-fixed">
<div class="header navbar navbar-inverse navbar-fixed-top" style="position:fixed">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="index.html"><img src="../media/image/logo.png" alt="logo"/></a>
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse"><img src="../media/image/menu-toggler.png" alt="" /></a>
            <ul class="nav pull-right">
            </ul>
        </div>
    </div>
</div>
</div>